@import '../../../variables.module.scss';

.button {
  color: black;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  border: none;
  font-size: 17px;
  line-height: 130%;
  cursor: pointer;
  font-family: $emphasis-font-family;
  font-style: $main-font-style;
  font-weight: $main-font-weight;
  letter-spacing: 1.2px;

  &.string {
    padding: 15px 45px;
  }

  &.symbol {
    padding: 15px;
    width: 52px;
    height: 52px;

    &:disabled {
      border: 2px solid $addition-light-color;
      pointer-events: none;

      img {
        filter: grayscale(100%) opacity(50%);
      }
    }
  }

  &.colored {
    background-color: $emphasis-color;

    &:hover {
      background: $emphasis-hover-color;
    }
  }

  &.white {
    background-color: transparent;
    border: 2px solid $emphasis-color;

    &:hover {
      background: $emphasis-hover-color;
      border: 2px solid $emphasis-hover-color;
    }
  }
}
