@import '../../../variables.module.scss';

.button {
  padding: 15px;
  color: black;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;

  &.string {
    padding: 15px 45px;
  }

  &.colored {
    background-color: $emphasis-color;
  }

  &.white {
    background-color: transparent;
    border: 2px solid $emphasis-color;
  }
}

/*
.like-button {
  
  transition: background 0.5s;
  font-size: 17px;
  line-height: 130%;

  &:hover {
    background: $emphasis-hover-color;
  }
}


.like-button_white {
  
  transition: background 0.5s, border 0.5s;

  &:hover {
    background: $emphasis-hover-color;
    border: 2px solid $emphasis-hover-color;
  }
}


*/
