.main {
  padding: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  gap: 2rem;

  .image {
    display: block;
    width: auto;
    height: auto;

    @media (max-width: 1279px) {
      width: 40%;
      height: 100%;
    }
    @media (max-width: 767px) {
      width: 100%;
    }
  }

  @media (max-width: 1279px) {
    padding: 7rem;
  }

  @media (max-width: 767px) {
    padding: 1rem;
  }
}
