@import '../../../variables.module.scss';

.footer {
  position: relative;
}

.container {
  padding: 56px 500px 60px 40px;
  gap: 160px;
  position: relative;

  @media (max-width: 1279px) {
    padding: 30px 30px 375px 30px;
    gap: 60px;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    padding: 30px 10px 309px 10px;
    gap: 40px;
  }
}

.contacts,
.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-grow: 2;
  max-width: 300px;
  height: 234px;


  @media (max-width: 767px) {
    align-items: center;
    height: 215px;
  }

  .title {
    color: white;
  }
}

.image_dog {
  @media (max-width: 1279px) {
    right: 234px !important;
  }

  @media (max-width: 767px) {
    width: 260px !important;
    height: 269px !important;
    right: 30px !important;
  }
}

.link {
  min-height: 32px;
  font-size: 20px;
  color: $emphasis-color;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  line-height: 115%;
}