@import '../../../variables.module.scss';

.addition {
  background: $background-color;

  .container {
    padding: 80px 182px 100px 718px;

    @media (max-width: 1279px) {
      padding: 80px 194px 421px 194px;
    }

    @media (max-width: 767px) {
      padding: 42px 10px 219px 10px;
    }
  }
}

.addition-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  padding: 0 10px;
  @media (max-width: 767px) {
    gap: 23px;
  }

  i {
    font-size: 12px;
    line-height: 150%;
    color: #b2b2b2;
  }
  h4 {
    @media (max-width: 767px) {
      letter-spacing: 0.01em;
    }
  }

  .like-button {
    padding: 10px 15px 10px 60px;
    font-size: 20px;
    align-self: center;
    line-height: 115%;
    border-radius: 9px;
    width: 350px;
    white-space: nowrap;

    @media (max-width: 767px) {
      padding: 13px 15px 13px 60px;
      width: 100%;
      font-size: 15px;
      line-height: 110%;
    }
  }
}
