@import "../../../variables.module.scss";

.donation {
  background: $background-color;
}

.container {
  padding: 80px 180px 100px 180px;
  gap: 30px;
  align-items: center;

  @media (max-width: 1279px) {
    flex-direction: column;
    padding: 80px 132px 100px 80px;
  }

  @media (max-width: 767px) {
    padding: 42px 20px;
  }
}

.image {
  width: 505px;
  height: 261px;

  @media (max-width: 767px) {
    width: 260px;
    height: 135px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  max-width: 380px;

  @media (max-width: 1279px) {
    order: -1;
  }

  @media (max-width: 767px) {
    width: 100%;
    gap: 23px;
  }

  .addition {
    font-size: 12px;
    line-height: 150%;
    color: $addition-dark-color;
    text-align: justify;
  }
}
