.open {
  width: 100vw;
  height: 100vh;

  &::before {
    content: '';
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
  }

  .dialog__wrapper {
    display: flex;
    justify-content: space-between;
    background-color: white;
    max-width: 900px;
    width: 70.3%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 9px;
    border: none;
    padding: 0;
    position: fixed;
    font-family: $emphasis-font-family;
    font-style: $main-font-style;
    color: #000000;

    @media (max-width: 1279px) {
      width: 82%;
    }

    @media (max-width: 767px) {
      width: 75%;
      h2 {
        font-size: 35px;
        line-height: 130%;
      }
      h3 {
        font-size: 20px;
        line-height: 115%;
        text-align: center;
      }
    }
    h2,
    h3 {
      color: #000000;
    }
  }

  .popup-img {
    width: 55.6%;
    height: auto;
    border-radius: 9px;
    @media (max-width: 767px) {
      display: none;
    }
  }
  .popup-content {
    width: 44.4%;
    padding: 50px 20px 88px 29px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;

    @media (max-width: 1279px) {
      padding: 10px 10px 37px 10px;
      gap: 20px;
    }

    @media (max-width: 767px) {
      width: 100%;
      padding: 10px;
      align-items: center;
    }
    .popup-titles {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
    }

    ul {
      align-self: flex-start;
      display: flex;
      flex-direction: column;
      gap: 10px;
      @media (max-width: 1929px) {
        gap: 5px;
      }
    }

    li {
      margin-left: 15px;
      letter-spacing: 0.06em;
      line-height: 110%;
      position: relative;
      ::before {
        content: url('../../assets/icons/dot.png');
        position: absolute;
        width: 4px;
        height: 4px;
        left: -12px;
        top: -4px;
      }
      b {
        letter-spacing: 0.1em;
      }
    }
    p {
      line-height: 110%;
      letter-spacing: 0.06em;
      @media (max-width: 1279px) {
        font-size: 13px;
      }
      @media (max-width: 767px) {
        margin-bottom: 4px;
      }
    }
  }

  .popup-close {
    position: absolute;
    right: -37px;
    top: -52px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid #f1cdb3;
    background-color: transparent;
    transition: background-color 1s;

    &:hover {
      background-color: #fddcc4;
      border: 2px solid #fddcc4;
      transition: background-color 1s;
    }
    @media (max-width: 1279px) {
      right: -45px;
      top: -52px;
    }

    @media (max-width: 767px) {
      right: -26px;
    }
  }
}
