.popup {
  width: 100vw;
  height: 100vh;
  z-index: 1.5;

  &::before {
    content: '';
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
  }
}

.content {
  max-width: 900px;
  width: 70.3%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 9px;

  border: none;
  padding: 0;

  position: fixed;
  z-index: 2;

  @media (max-width: 1279px) {
    width: 82%;
  }

  @media (max-width: 767px) {
    width: 75%;
  }

  button {
    position: absolute;
    right: -37px;
    top: -52px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid #f1cdb3;
    background-color: transparent;
    transition: background-color 1s;

    &:hover {
      background-color: #fddcc4;
      border: 2px solid #fddcc4;
      transition: background-color 1s;
    }

    @media (max-width: 1279px) {
      right: -45px;
      top: -52px;
    }

    @media (max-width: 767px) {
      right: -26px;
    }
  }
}
