@import '../../../variables.module.scss';

.link {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: $addition-light-color;
  font-family: $main-font-family;
  letter-spacing: 0;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  position: relative;

  &.primary {
    color: $addition-light-color;

    &:hover {
      color: white;
    }
  }

  &.regular {
    color: $titles-color;

    &:hover {
      color: $action-color;
    }
  }

  &.active {
    &::after {
      content: '';
      position: absolute;
      bottom: -3px;
      background-color: $emphasis-color;
      width: 100%;
      height: 3px;
    }

    &.regular {
      color: $titles-color;
    }

    &.primary {
      color: white;
    }
  }
}
