@import '../../../../variables.module.scss';

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 53px;
  min-height: 435px;

  @media (max-width: 1279px) {
    gap: 12px;
  }

  @media (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 80px;
  }
  button {
    &:first-child {
      order: 1;
    }

    &:last-child {
      order: 3;
    }

    @media (max-width: 767px) {
      &:first-child {
        order: 2;
      }
    }
  }
}

.window {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  width: 990px;
  overflow: hidden;
  order: 2;

  @media (max-width: 1279px) {
    gap: 40px;
    width: 580px;
  }

  @media (max-width: 767px) {
    gap: 20px;
    width: 270px;
    order: 1;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;

    &.animation-left {
      transform: translateX(1080px);
      transition: transform 1s;
    }

    &.animation-right {
      transform: translateX(-1080px);
      transition: transform 1s;
    }

    li:not(:nth-child(-n + 3)) {
      display: none;
    }

    @media (max-width: 1279px) {
      gap: 40px;

      &.animation-left {
        transform: translateX(620px);
      }

      &.animation-right {
        transform: translateX(-620px);
      }

      li:not(:nth-child(-n + 2)) {
        display: none;
      }
    }

    @media (max-width: 767px) {
      &.animation-left {
        transform: translateX(290px);
      }

      &.animation-right {
        transform: translateX(-290px);
      }

      li:not(:nth-child(-n + 1)) {
        display: none;
      }
    }
  }
}
