.like-button {
  display: block;
  padding: 15px 45px;
  border-radius: 100px;
  background: $emphasis-color;
  transition: background 0.5s;
  font-size: 17px;
  line-height: 130%;

  &:hover {
    background: $emphasis-hover-color;
  }
}

.like-button_white {
  background: transparent;
  border: 2px solid $emphasis-color;
  transition: background 0.5s, border 0.5s;

  &:hover {
    background: $emphasis-hover-color;
    border: 2px solid $emphasis-hover-color;
  }
}

.container {
  display: flex;
  margin: 0 auto;
  width: 1280px;

  @media (max-width: 1279px) {
    width: 768px;
  }

  @media (max-width: 767px) {
    width: 320px;
  }
}

.first-screen {
  background: url('../../assets/images/start-screen-gradient-background.png')
    no-repeat top left;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  h1 {
    color: #ffffff;
  }
}

.first-screen-content {
  width: 100%;
  flex-grow: 1;

  .container {
    height: 100%;
    gap: 42px;
    flex-direction: column;
    justify-content: space-between;
    padding: 223px 775px 243px 40px;
    align-items: flex-start;
    flex-direction: column;
    background: url('../../assets/images/start-screen-puppy.png') right 40px
      bottom no-repeat;
    flex-grow: 1;
    color: #cdcdcd;

    @media (max-width: 1279px) {
      padding: 30px 155px 693px 155px;
      background: url('../../assets/images/start-screen-puppy.png') right 30px
        bottom no-repeat;
      background-size: 75%;
    }

    @media (max-width: 767px) {
      padding: 30px 10px 377px 10px;
      align-items: center;
      text-align: center;
      background: url('../../assets/images/start-screen-puppy.png') right 10px
        bottom no-repeat;
      background-size: 80%;
    }

    h1 {
      @media (max-width: 767px) {
        letter-spacing: 0.06em;
      }
    }

    .like-button {
      @media (max-width: 1279px) {
        align-self: center;
      }
    }
  }
}

.about {
  .container {
    padding: 94px 215px 114px 635px;
    background: url('../../assets/images/about-pets.png') left 220px bottom
      100px no-repeat;
    justify-content: right;

    @media (max-width: 1279px) {
      padding: 80px 169px 588px 169px;
      background: url('../../assets/images/about-pets.png') left 234px bottom
        100px no-repeat;
    }
    @media (max-width: 767px) {
      padding: 42px 25px 438px 25px;
      background: url('../../assets/images/about-pets.png') left 28px bottom
        42.4px no-repeat;
      background-size: 80%;
    }
  }
  .about-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    @media (max-width: 767px) {
      gap: 22px;
    }
  }
}

.friends {
  background: $background-color;

  .container {
    padding: 80px 40px 100px 40px;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    text-align: center;
    @media (max-width: 1279px) {
      padding: 80px 30px 100px 30px;
    }
    @media (max-width: 767px) {
      padding: 42px 10px;
      gap: 42px;
    }
  }
}
.friends-carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 53px;
  @media (max-width: 1279px) {
    gap: 12px;
  }
  @media (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 80px;
    h3 {
      font-size: 20px;
      line-height: 23px;
    }
  }
}

.friends-list {
  display: flex;
  justify-content: center;
  gap: 0;
  overflow: hidden;
  width: 990px;

  @media (max-width: 1279px) {
    gap: 40px;
    width: 580px;
  }
  @media (max-width: 767px) {
    width: 270px;
  }

  ul {
    display: flex;
    gap: 90px;

    li:not(:nth-child(-n + 3)) {
      display: none;
    }
    @media (max-width: 1279px) {
      gap: 40px;
      li:not(:nth-child(-n + 2)) {
        display: none;
      }
    }
    @media (max-width: 767px) {
      li:not(:nth-child(-n + 1)) {
        display: none;
      }
    }
  }
}

.friends-card {
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
  padding-bottom: 30px;
  border-radius: 9px;
  cursor: pointer;

  img {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
  }
  &:hover {
    background: white;
    .like-button_white {
      background: $emphasis-hover-color;
      border: 2px solid $emphasis-hover-color;
    }
  }
}

.friends-control-button {
  width: 52px;
  height: 52px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 767px) {
    &:first-child {
      order: 222;
    }
    &:last-child {
      order: 224;
    }
  }
}

.help {
  .container {
    padding: 80px 40px 100px 40px;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    @media (max-width: 1279px) {
      padding: 80px 69px 100px 69px;
    }
    @media (max-width: 767px) {
      padding: 42px 15px;
      gap: 42px;
    }
  }
  h2 {
    text-align: center;
  }
}

.help-list {
  display: flex;
  column-gap: 120px;
  row-gap: 55px;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: 1279px) {
    justify-content: space-between;
    align-items: center;
    column-gap: 60px;
  }

  @media (max-width: 767px) {
    row-gap: 30px;
    column-gap: 30px;
  }
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    @media (max-width: 1279px) {
      min-width: calc(30% - 20px);
      max-width: 30%;
    }

    @media (max-width: 767px) {
      min-width: calc(50% - 15px);
      max-width: 50%;
      gap: 20px;
    }
    img {
      @media (max-width: 767px) {
        width: 40%;
      }
    }
  }
}
.addition {
  background: $background-color;

  .container {
    padding: 80px 182px 100px 718px;
    background: url('../../assets/images/donation-dog.png') left 183px bottom
      110px no-repeat;
    @media (max-width: 1279px) {
      padding: 80px 194px 421px 194px;
      background: url('../../assets/images/donation-dog.png') left 132px bottom
        100px no-repeat;
    }

    @media (max-width: 767px) {
      padding: 42px 10px 219px 10px;
      background: url('../../assets/images/donation-dog.png') left 32px bottom
        40px no-repeat;
      background-size: 80%;
    }
  }
}

.addition-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  padding: 0 10px;
  @media (max-width: 767px) {
    gap: 23px;
  }

  i {
    font-size: 12px;
    line-height: 150%;
    color: #b2b2b2;
  }
  h4 {
    @media (max-width: 767px) {
      letter-spacing: 0.01em;
    }
  }

  .like-button {
    padding: 10px 15px 10px 60px;
    font-size: 20px;
    align-self: center;
    line-height: 115%;
    border-radius: 9px;
    width: 350px;
    white-space: nowrap;
    background: $emphasis-color url('../../assets/icons/credit-card.svg') left
      15px bottom 10px no-repeat;

    &:hover {
      background: $emphasis-hover-color
        url('../../assets/icons/credit-card.svg') left 15px bottom 10px
        no-repeat;
    }

    @media (max-width: 767px) {
      padding: 13px 15px 13px 60px;
      width: 100%;
      font-size: 15px;
      line-height: 110%;
    }
  }
}

.open {
  width: 100vw;
  height: 100vh;

  &::before {
    content: '';
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
  }

  .dialog__wrapper {
    display: flex;
    justify-content: space-between;
    background-color: white;
    max-width: 900px;
    width: 70.3%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 9px;
    border: none;
    padding: 0;
    position: fixed;
    font-family: $emphasis-font-family;
    font-style: $main-font-style;
    color: #000000;

    @media (max-width: 1279px) {
      width: 82%;
    }

    @media (max-width: 767px) {
      width: 75%;
      h2 {
        font-size: 35px;
        line-height: 130%;
      }
      h3 {
        font-size: 20px;
        line-height: 115%;
        text-align: center;
      }
    }
    h2,
    h3 {
      color: #000000;
    }
  }

  .popup-img {
    width: 55.6%;
    height: auto;
    border-radius: 9px;
    @media (max-width: 767px) {
      display: none;
    }
  }
  .popup-content {
    width: 44.4%;
    padding: 50px 20px 88px 29px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;

    @media (max-width: 1279px) {
      padding: 10px 10px 37px 10px;
      gap: 20px;
    }

    @media (max-width: 767px) {
      width: 100%;
      padding: 10px;
      align-items: center;
    }
    .popup-titles {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
    }

    ul {
      align-self: flex-start;
      display: flex;
      flex-direction: column;
      gap: 10px;
      @media (max-width: 1929px) {
        gap: 5px;
      }
    }

    li {
      margin-left: 15px;
      letter-spacing: 0.06em;
      line-height: 110%;
      position: relative;
      ::before {
        content: url('../../assets/icons/dot.png');
        position: absolute;
        width: 4px;
        height: 4px;
        left: -12px;
        top: -4px;
      }
      b {
        letter-spacing: 0.1em;
      }
    }
    p {
      line-height: 110%;
      letter-spacing: 0.06em;
      @media (max-width: 1279px) {
        font-size: 13px;
      }
      @media (max-width: 767px) {
        margin-bottom: 4px;
      }
    }
  }

  .popup-close {
    position: absolute;
    right: -37px;
    top: -52px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid #f1cdb3;
    background-color: transparent;
    transition: background-color 1s;

    &:hover {
      background-color: #fddcc4;
      border: 2px solid #fddcc4;
      transition: background-color 1s;
    }
    @media (max-width: 1279px) {
      right: -45px;
      top: -52px;
    }

    @media (max-width: 767px) {
      right: -26px;
    }
  }
}
