@import url("https://fonts.cdnfonts.com/css/georgia");
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
  position: relative;
  scrollbar-gutter: stable;
}

ul,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  color: #545454;
}

a,
button {
  cursor: pointer;
  color: #292929;
}

h1,
h2,
h3,
h4,
a,
button {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
}

h1 {
  font-size: 44px;
  line-height: 130%;
  letter-spacing: 0;
}
@media (max-width: 767px) {
  h1 {
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
  }
}

h2 {
  font-size: 35px;
  line-height: 130%;
}
@media (max-width: 767px) {
  h2 {
    font-size: 25px;
    align-self: center;
    text-align: center;
  }
}

h3 {
  font-size: 20px;
  line-height: 115%;
}
@media (max-width: 767px) {
  h3 {
    font-size: 15px;
    line-height: 110%;
  }
}

h4 {
  line-height: 110%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.like-button {
  display: block;
  padding: 15px 45px;
  border-radius: 100px;
  background: #f1cdb3;
  transition: background 0.5s;
  font-size: 17px;
  line-height: 130%;
}
.like-button:hover {
  background: #fddcc4;
}

.like-button_white {
  background: transparent;
  border: 2px solid #f1cdb3;
  transition: background 0.5s, border 0.5s;
}
.like-button_white:hover {
  background: #fddcc4;
  border: 2px solid #fddcc4;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 1280px;
}
@media (max-width: 1279px) {
  .container {
    width: 768px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 320px;
  }
}

.first-screen {
  background: url("../../assets/images/start-screen-gradient-background.png") no-repeat top left;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.first-screen h1 {
  color: #ffffff;
}

.header .container {
  padding: 30px 40px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1279px) {
  .header .container {
    padding: 30px 30px;
  }
}
@media (max-width: 767px) {
  .header .container {
    padding: 30px 20px;
  }
}

.header-nav__links {
  display: flex;
  gap: 35px;
  align-items: center;
  white-space: nowrap;
}
.header-nav__links a {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
  border-bottom: none;
  transition: border-bottom 0.5s;
  color: #fafafa;
}
.header-nav__links a.header-nav__links-active {
  border-bottom: 3px solid #f1cdb3;
  pointer-events: none;
}
.header-nav__links a:hover {
  border-bottom: 3px solid #f1cdb3;
}
@media (max-width: 767px) {
  .header-nav__links {
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    font-size: 32px;
    line-height: 160%;
    position: relative;
    right: 0;
    transition: 1s;
  }
}

.header-nav__burger {
  display: none;
}

#burger-icon {
  display: none;
}

@media (max-width: 767px) {
  .header-nav__links-wrapper {
    position: absolute;
    width: 320px;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: #292929;
    display: flex;
    justify-content: center;
    opacity: 1;
    transition-duration: 1s;
  }
  .header-nav__links-wrapper a {
    color: #cdcdcd;
  }
  .header-nav__burger {
    display: block;
    cursor: pointer;
    transform: rotate(0);
    transition: transform 2s;
    width: 32px;
    height: 22px;
    background: linear-gradient(#f1cdb3 10%, transparent 10% 45%, #f1cdb3 45% 55%, transparent 55% 90%, #f1cdb3 90%);
  }
  #burger-icon:not(:checked) ~ .header-nav__links-wrapper {
    width: 0;
    opacity: 0;
    right: 0px;
  }
  #burger-icon:not(:checked) ~ .header-nav__links-wrapper .header-nav__links a {
    display: none;
  }
  #burger-icon:checked ~ .header-nav__links-wrapper {
    z-index: 11111;
  }
  #burger-icon:checked ~ .header-nav__links-wrapper .header-nav__burger {
    transform: rotate(90deg);
    transition: transform 2s;
    opacity: 1;
  }
  #burger-icon:checked ~ .header-nav__links-wrapper::before {
    content: "";
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
  }
  #burger-icon:checked + .header-nav__burger {
    transform: rotate(90deg);
  }
  .header-nav__burger-close {
    position: absolute;
    z-index: 1000;
    top: 45px;
    right: 20px;
    opacity: 0;
  }
}
.header-nav__logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.header-nav__logo a {
  font-size: 32px;
  line-height: 110%;
  color: #f1cdb3;
}
.header-nav__logo p {
  font-size: 13px;
  line-height: 115%;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.first-screen-content {
  width: 100%;
  flex-grow: 1;
}
.first-screen-content .container {
  height: 100%;
  gap: 42px;
  flex-direction: column;
  justify-content: space-between;
  padding: 223px 775px 243px 40px;
  align-items: flex-start;
  flex-direction: column;
  background: url("../../assets/images/start-screen-puppy.png") right 40px bottom no-repeat;
  flex-grow: 1;
  color: #cdcdcd;
}
@media (max-width: 1279px) {
  .first-screen-content .container {
    padding: 30px 155px 693px 155px;
    background: url("../../assets/images/start-screen-puppy.png") right 30px bottom no-repeat;
    background-size: 75%;
  }
}
@media (max-width: 767px) {
  .first-screen-content .container {
    padding: 30px 10px 377px 10px;
    align-items: center;
    text-align: center;
    background: url("../../assets/images/start-screen-puppy.png") right 10px bottom no-repeat;
    background-size: 80%;
  }
}
@media (max-width: 767px) {
  .first-screen-content .container h1 {
    letter-spacing: 0.06em;
  }
}
@media (max-width: 1279px) {
  .first-screen-content .container .like-button {
    align-self: center;
  }
}

.about .container {
  padding: 94px 215px 114px 635px;
  background: url("../../assets/images/about-pets.png") left 220px bottom 100px no-repeat;
  justify-content: right;
}
@media (max-width: 1279px) {
  .about .container {
    padding: 80px 169px 588px 169px;
    background: url("../../assets/images/about-pets.png") left 234px bottom 100px no-repeat;
  }
}
@media (max-width: 767px) {
  .about .container {
    padding: 42px 25px 438px 25px;
    background: url("../../assets/images/about-pets.png") left 28px bottom 42.4px no-repeat;
    background-size: 80%;
  }
}
.about .about-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (max-width: 767px) {
  .about .about-content {
    gap: 22px;
  }
}

.friends {
  background: #f6f6f6;
}
.friends .container {
  padding: 80px 40px 100px 40px;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  text-align: center;
}
@media (max-width: 1279px) {
  .friends .container {
    padding: 80px 30px 100px 30px;
  }
}
@media (max-width: 767px) {
  .friends .container {
    padding: 42px 10px;
    gap: 42px;
  }
}

.friends-carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 53px;
}
@media (max-width: 1279px) {
  .friends-carousel {
    gap: 12px;
  }
}
@media (max-width: 767px) {
  .friends-carousel {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    -moz-column-gap: 80px;
         column-gap: 80px;
  }
  .friends-carousel h3 {
    font-size: 20px;
    line-height: 23px;
  }
}

.friends-list {
  display: flex;
  justify-content: center;
  gap: 0;
  overflow: hidden;
  width: 990px;
}
@media (max-width: 1279px) {
  .friends-list {
    gap: 40px;
    width: 580px;
  }
}
@media (max-width: 767px) {
  .friends-list {
    width: 270px;
  }
}
.friends-list ul {
  display: flex;
  gap: 90px;
}
.friends-list ul li:not(:nth-child(-n+3)) {
  display: none;
}
@media (max-width: 1279px) {
  .friends-list ul {
    gap: 40px;
  }
  .friends-list ul li:not(:nth-child(-n+2)) {
    display: none;
  }
}
@media (max-width: 767px) {
  .friends-list ul li:not(:nth-child(-n+1)) {
    display: none;
  }
}

.friends-card {
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
  padding-bottom: 30px;
  border-radius: 9px;
  cursor: pointer;
}
.friends-card img {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.friends-card:hover {
  background: white;
}
.friends-card:hover .like-button_white {
  background: #fddcc4;
  border: 2px solid #fddcc4;
}

.friends-control-button {
  width: 52px;
  height: 52px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .friends-control-button:first-child {
    order: 222;
  }
  .friends-control-button:last-child {
    order: 224;
  }
}

.help .container {
  padding: 80px 40px 100px 40px;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
@media (max-width: 1279px) {
  .help .container {
    padding: 80px 69px 100px 69px;
  }
}
@media (max-width: 767px) {
  .help .container {
    padding: 42px 15px;
    gap: 42px;
  }
}
.help h2 {
  text-align: center;
}

.help-list {
  display: flex;
  -moz-column-gap: 120px;
       column-gap: 120px;
  row-gap: 55px;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 1279px) {
  .help-list {
    justify-content: space-between;
    align-items: center;
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
}
@media (max-width: 767px) {
  .help-list {
    row-gap: 30px;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.help-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1279px) {
  .help-list li {
    min-width: calc(30% - 20px);
    max-width: 30%;
  }
}
@media (max-width: 767px) {
  .help-list li {
    min-width: calc(50% - 15px);
    max-width: 50%;
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .help-list li img {
    width: 40%;
  }
}

.addition {
  background: #f6f6f6;
}
.addition .container {
  padding: 80px 182px 100px 718px;
  background: url("../../assets/images/donation-dog.png") left 183px bottom 110px no-repeat;
}
@media (max-width: 1279px) {
  .addition .container {
    padding: 80px 194px 421px 194px;
    background: url("../../assets/images/donation-dog.png") left 132px bottom 100px no-repeat;
  }
}
@media (max-width: 767px) {
  .addition .container {
    padding: 42px 10px 219px 10px;
    background: url("../../assets/images/donation-dog.png") left 32px bottom 40px no-repeat;
    background-size: 80%;
  }
}

.addition-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  padding: 0 10px;
}
@media (max-width: 767px) {
  .addition-content {
    gap: 23px;
  }
}
.addition-content i {
  font-size: 12px;
  line-height: 150%;
  color: #b2b2b2;
}
@media (max-width: 767px) {
  .addition-content h4 {
    letter-spacing: 0.01em;
  }
}
.addition-content .like-button {
  padding: 10px 15px 10px 60px;
  font-size: 20px;
  align-self: center;
  line-height: 115%;
  border-radius: 9px;
  width: 350px;
  white-space: nowrap;
  background: #f1cdb3 url("../../assets/icons/credit-card.svg") left 15px bottom 10px no-repeat;
}
.addition-content .like-button:hover {
  background: #fddcc4 url("../../assets/icons/credit-card.svg") left 15px bottom 10px no-repeat;
}
@media (max-width: 767px) {
  .addition-content .like-button {
    padding: 13px 15px 13px 60px;
    width: 100%;
    font-size: 15px;
    line-height: 110%;
  }
}

.footer {
  background: url("../../assets/images/start-screen-gradient-background.png") no-repeat;
  background-size: cover;
}
.footer .footer-email {
  background: url("../../assets/icons/icon-email.svg") center left no-repeat;
}
.footer .footer-tel {
  background: url("../../assets/icons/icon-phone.svg") center left no-repeat;
}
.footer .footer-mail {
  background: url("../../assets/icons/icon-marker.png") center left no-repeat;
}
.footer h2 {
  color: white;
}
.footer .container {
  padding: 56px 40px;
  background: url("../../assets/images/footer-puppy.png") top 40px right 40px no-repeat;
  gap: 160px;
}
@media (max-width: 1279px) {
  .footer .container {
    padding: 30px 30px 375px 30px;
    background: url("../../assets/images/footer-puppy.png") bottom right 234px no-repeat;
    gap: 60px;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .footer .container {
    flex-direction: column;
    align-items: center;
    padding: 30px 10px 309px 10px;
    background: url("../../assets/images/footer-puppy.png") bottom right 30px no-repeat;
    background-size: 80%;
    gap: 40px;
    justify-content: center;
  }
}
.footer section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.footer section a {
  min-height: 32px;
  padding-left: 60px;
  font-size: 20px;
  color: #f1cdb3;
  line-height: 32px;
}
.footer .contacts {
  align-items: flex-start;
}
.footer .address {
  gap: 32px;
  align-items: normal;
}
.footer .address a {
  padding-left: 42px;
  line-height: 115%;
}
@media (max-width: 767px) {
  .footer .address {
    gap: 40px;
  }
}

.open {
  width: 100vw;
  height: 100vh;
}
.open::before {
  content: "";
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}
.open .dialog__wrapper {
  display: flex;
  justify-content: space-between;
  background-color: white;
  max-width: 900px;
  width: 70.3%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 9px;
  border: none;
  padding: 0;
  position: fixed;
}
@media (max-width: 1279px) {
  .open .dialog__wrapper {
    width: 82%;
  }
}
@media (max-width: 767px) {
  .open .dialog__wrapper {
    width: 75%;
  }
}
.open .popup-img {
  width: 55.6%;
  height: auto;
  border-radius: 9px;
}
@media (max-width: 767px) {
  .open .popup-img {
    display: none;
  }
}
.open .popup-content {
  width: 44.4%;
  padding: 50px 20px 88px 29px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 1279px) {
  .open .popup-content {
    padding: 10px 10px 37px 10px;
  }
}
@media (max-width: 767px) {
  .open .popup-content {
    width: 100%;
    padding: 10px;
    align-items: center;
  }
  .open .popup-content ul {
    align-self: flex-start;
  }
  .open .popup-content h2 {
    margin-top: 10px;
  }
}
.open .popup-content li {
  list-style-type: disc;
  margin-left: 15px;
}
.open .popup-content p {
  line-height: 110%;
}
@media (max-width: 1279px) {
  .open .popup-content p {
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  .open .popup-content p {
    margin-top: 20px;
    margin-bottom: 24px;
  }
}
.open .popup-close {
  position: absolute;
  right: -37px;
  top: -52px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
  background-color: transparent;
}
@media (max-width: 767px) {
  .open .popup-close {
    right: -26px;
    transition: 0.5s;
  }
  .open .popup-close:hover {
    background-color: #fddcc4;
    border: 2px solid #fddcc4;
  }
}/*# sourceMappingURL=style.css.map */