@import url('https://fonts.cdnfonts.com/css/georgia');

$emphasis-font-family: Georgia, 'Times New Roman', Times, serif;
$main-font-family: Arial, Helvetica, sans-serif;
$main-font-style: normal;
$main-font-weight: 400;
$emphasis-letter-spacing: 0.06em;

$emphasis-color: #f1cdb3;
$emphasis-hover-color: #fddcc4;
$background-color: #f6f6f6;

* {
  box-sizing: border-box;
}

body {
  font-family: $main-font-family;
  font-weight: $main-font-weight;
  font-size: 15px;
  line-height: 160%;
}

ul,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a,
button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
a,
button {
  font-family: $emphasis-font-family;
  font-style: $main-font-style;
  font-weight: $main-font-weight;
  letter-spacing: $emphasis-letter-spacing;
}

h1 {
  font-size: 44px;
  line-height: 130%;
  letter-spacing: 0;
}

h2 {
  font-size: 35px;
  line-height: 130%;
}

h3 {
  font-size: 20px;
  line-height: 115%;
}

h4 {
  line-height: 110%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

.like-button {
  display: block;
  padding: 15px 45px;
  border-radius: 100px;
  background: $emphasis-color;
  color: black;
  transition: background 0.5s;
  font-size: 17px;
  line-height: 130%;

  &:hover {
    background: $emphasis-hover-color;
  }
}

.like-button_white {
  background: transparent;
  border: 2px solid $emphasis-color;
  transition: background 0.5s, border 0.5s;

  &:hover {
    background: $emphasis-hover-color;
    border: 2px solid $emphasis-hover-color;
  }
}

.container {
  display: flex;
  width: 1280px;
  margin: 0 auto;
}

header {
  color: white;
  background: url('/shelter/assets/images/start-screen-gradient-background.png') no-repeat top left;
  background-size: cover;

  .container {
    height: 908px;
    padding: 30px 40px;
    flex-direction: column;
    background: url('/shelter/assets/images/start-screen-puppy.png') right 40px bottom no-repeat;
  }
}

.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav__links {
  display: flex;
  gap: 35px;

  a {
    font-family: $main-font-family;
    letter-spacing: 0;
  }
}

.header-nav__logo {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;

  a {
    display: block;
    font-size: 32px;
    line-height: 110%;
    color: $emphasis-color;
  }
  p {
    font-size: 13px;
    line-height: 115%;
    letter-spacing: 0.1em;
  }
}

.header-content {
  width: 460px;
  display: flex;
  gap: 42px;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 253px;
  align-items: flex-start;
}

.about {
  .container {
    padding: 94px 215px 114px 635px;
    background: url('/shelter/assets/images/about-pets.png') left 220px bottom 100px no-repeat;
    justify-content: right;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}

.friends {
  background: $background-color;

  .container {
    padding: 80px 40px 100px 40px;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    text-align: center;
  }
}
.friends-carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 53px;
}

.friends-list {
  display: flex;
  justify-content: space-between;
  gap: 90px;
}

.friends-card {
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
  padding-bottom: 30px;
  cursor: pointer;
  &:hover {
    background: white;
    .like-button_white {
      background: $emphasis-hover-color;
      border: 2px solid $emphasis-hover-color;
    }
  }
}

.friends-arrow {
  width: 52px;
  height: 52px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.help {
  .container {
    padding: 80px 40px 100px 40px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
  h2 {
    text-align: center;
  }
}

.help-list {
  display: flex;
  column-gap: 120px;
  row-gap: 55px;
  flex-wrap: wrap;
  justify-content: center;
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
.addition {
  background: $background-color;

  .container {
    padding: 80px 182px 100px 718px;
    background: url('/shelter/assets/images/donation-dog.png') left 183px bottom 110px no-repeat;
  }
}

.addition-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  align-items: left;

  i {
    font-size: 12px;
    line-height: 150%;
    color: #b2b2b2;
  }

  .like-button {
    padding: 10px 15px 10px 60px;
    font-size: 20px;
    line-height: 115%;
    border-radius: 9px;
    width: 350px;
    background: $emphasis-color url('/shelter/assets/icons/credit-card.svg') left 15px bottom 10px no-repeat;

    &:hover {
      background: $emphasis-hover-color url('/shelter/assets/icons/credit-card.svg') left 15px bottom 10px no-repeat;
    }
  }
}

.footer {
  background: url('/shelter/assets/images/start-screen-gradient-background.png') no-repeat;
  background-size: cover;

  .footer-email {
    background: url('/shelter/assets/icons/icon-email.svg') center left no-repeat;
  }
  .footer-tel {
    background: url('/shelter/assets/icons/icon-phone.svg') center left no-repeat;
  }
  .footer-mail {
    background: url('/shelter/assets/icons/icon-marker.png') center left no-repeat;
  }

  h2 {
    color: white;
  }

  .container {
    padding: 56px 40px;
    background: url('/shelter/assets/images/footer-puppy.png') top 40px right 40px no-repeat;
    gap: 160px;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 40px;

    a {
      min-height: 32px;
      padding-left: 60px;
      font-size: 20px;
      color: $emphasis-color;
    }
  }
  .address {
    gap: 32px;
    a {
      padding-left: 42px;
    }
  }
}
