@import url('https://fonts.cdnfonts.com/css/georgia');

$emphasis-font-family: Georgia, 'Times New Roman', Times, serif;
$main-font-family: Arial, Helvetica, sans-serif;
$main-font-style: normal;
$main-font-weight: 400;
$emphasis-letter-spacing: 0.06em;
$emphasis-color: #f1cdb3;
$emphasis-hover-color: #fddcc4;
$background-color: #f6f6f6;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $main-font-family;
  font-weight: $main-font-weight;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
  position: relative;
}

ul,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  color: #545454;
}

a,
button {
  cursor: pointer;
  color: #292929;
}

h1,
h2,
h3,
h4,
a,
button {
  font-family: $emphasis-font-family;
  font-style: $main-font-style;
  font-weight: $main-font-weight;
  letter-spacing: $emphasis-letter-spacing;
}

h1 {
  font-size: 44px;
  line-height: 130%;
  letter-spacing: 0;

  @media (max-width: 767px) {
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
  }
}

h2 {
  font-size: 35px;
  line-height: 130%;

  @media (max-width: 767px) {
    font-size: 25px;
    align-self: center;
    text-align: center;
  }
}

h3 {
  font-size: 20px;
  line-height: 115%;
  @media (max-width: 767px) {
    font-size: 15px;
    line-height: 110%;
  }
}

h4 {
  line-height: 110%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.like-button {
  display: block;
  padding: 15px 45px;
  border-radius: 100px;
  background: $emphasis-color;
  transition: background 0.5s;
  font-size: 17px;
  line-height: 130%;

  &:hover {
    background: $emphasis-hover-color;
  }
}

.like-button_white {
  background: transparent;
  border: 2px solid $emphasis-color;
  transition: background 0.5s, border 0.5s;

  &:hover {
    background: $emphasis-hover-color;
    border: 2px solid $emphasis-hover-color;
  }
}

.container {
  display: flex;
  margin: 0 auto;
  width: 1280px;

  @media (max-width: 1279px) {
    width: 768px;
  }

  @media (max-width: 767px) {
    width: 320px;
  }
}

.first-screen {
  background: url('../../assets/images/start-screen-gradient-background.png') no-repeat top left;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  h1 {
    color: #ffffff;
  }
}

.header {
  .container {
    padding: 30px 40px;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1279px) {
      padding: 30px 30px;
    }

    @media (max-width: 767px) {
      padding: 30px 20px;
    }
  }
}

.header-nav__links {
  display: flex;
  gap: 35px;
  align-items: center;

  a {
    font-family: $main-font-family;
    letter-spacing: 0;
    border-bottom: none;
    transition: border-bottom 0.5s;
    color: #fafafa;

    &:hover {
      border-bottom: 3px solid #f1cdb3;
    }
  }

  @media (max-width: 767px) {
    position: absolute;
    width: 320px;
    top: 0;
    right: 0;
    height: 823px;
    background-color: #292929;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    font-size: 32px;
    line-height: 160%;
  }
}

//бургер

.header-nav__burger {
  display: none;
}

#burger-icon {
  display: none;
}

@media (max-width: 767px) {
  .header-nav__burger {
    display: block;
  }
  #burger-icon:not(:checked) ~ .header-nav__links-wrapper {
    display: none;
  }

  #burger-icon:checked + .header-nav__label {
    display: none;
  }

  .header-nav__burger-close {
    position: absolute;
    z-index: 1000;
    top: 45px;
    right: 20px;
    transform: rotate(90deg);
  }
}

.header-nav__logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  a {
    font-size: 32px;
    line-height: 110%;
    color: $emphasis-color;
  }
  p {
    font-size: 13px;
    line-height: 115%;
    letter-spacing: 0.1em;
    color: #ffffff;
  }
}

.first-screen-content {
  width: 100%;
  flex-grow: 1;

  .container {
    height: 100%;
    gap: 42px;
    flex-direction: column;
    justify-content: space-between;
    padding: 223px 775px 243px 40px;
    align-items: flex-start;
    flex-direction: column;
    background: url('../../assets/images/start-screen-puppy.png') right 40px bottom no-repeat;
    flex-grow: 1;
    color: #cdcdcd;

    @media (max-width: 1279px) {
      padding: 30px 155px 693px 155px;
      background: url('../../assets/images/start-screen-puppy.png') right 30px bottom no-repeat;
      background-size: 75%;
    }

    @media (max-width: 767px) {
      padding: 30px 10px 377px 10px;
      align-items: center;
      text-align: center;
      background: url('../../assets/images/start-screen-puppy.png') right 10px bottom no-repeat;
      background-size: 80%;
    }

    h1 {
      @media (max-width: 767px) {
        letter-spacing: 0.06em;
      }
    }

    .like-button {
      @media (max-width: 1279px) {
        align-self: center;
      }
    }
  }
}

.about {
  .container {
    padding: 94px 215px 114px 635px;
    background: url('../../assets/images/about-pets.png') left 220px bottom 100px no-repeat;
    justify-content: right;

    @media (max-width: 1279px) {
      padding: 80px 169px 588px 169px;
      background: url('../../assets/images/about-pets.png') left 234px bottom 100px no-repeat;
    }
    @media (max-width: 767px) {
      padding: 42px 25px 438px 25px;
      background: url('../../assets/images/about-pets.png') left 28px bottom 42.4px no-repeat;
      background-size: 80%;
    }
  }
  .about-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    @media (max-width: 767px) {
      gap: 22px;
    }
  }
}

.friends {
  background: $background-color;

  .container {
    padding: 80px 40px 100px 40px;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    text-align: center;
    @media (max-width: 1279px) {
      padding: 80px 30px 100px 30px;
    }
    @media (max-width: 767px) {
      padding: 42px 10px;
      gap: 42px;
    }
  }
}
.friends-carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 53px;
  @media (max-width: 1279px) {
    gap: 12px;
  }
  @media (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 80px;
    h3 {
      font-size: 20px;
      line-height: 23px;
    }
  }
}

.friends-list {
  display: flex;
  justify-content: space-between;
  gap: 90px;
  @media (max-width: 1279px) {
    gap: 40px;
    li:last-child {
      display: none;
    }
  }
  @media (max-width: 767px) {
    li:not(:first-child) {
      display: none;
    }
  }
}

.friends-card {
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
  padding-bottom: 30px;
  border-radius: 9px;
  cursor: pointer;
  img {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
  }
  &:hover {
    background: white;
    .like-button_white {
      background: $emphasis-hover-color;
      border: 2px solid $emphasis-hover-color;
    }
  }
}

.friends-pag-button {
  width: 52px;
  height: 52px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 767px) {
    &:first-child {
      order: 222;
    }
    &:last-child {
      order: 224;
    }
  }
}

.help {
  .container {
    padding: 80px 40px 100px 40px;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    @media (max-width: 1279px) {
      padding: 80px 69px 100px 69px;
    }
    @media (max-width: 767px) {
      padding: 42px 15px;
      gap: 42px;
    }
  }
  h2 {
    text-align: center;
  }
}

.help-list {
  display: flex;
  column-gap: 120px;
  row-gap: 55px;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: 1279px) {
    justify-content: space-between;
    align-items: center;
    column-gap: 60px;
  }

  @media (max-width: 767px) {
    row-gap: 30px;
    column-gap: 30px;
  }
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    @media (max-width: 1279px) {
      min-width: calc(30% - 20px);
      max-width: 30%;
    }

    @media (max-width: 767px) {
      min-width: calc(50% - 15px);
      max-width: 50%;
      gap: 20px;
    }
    img {
      @media (max-width: 767px) {
        width: 40%;
      }
    }
  }
}
.addition {
  background: $background-color;

  .container {
    padding: 80px 182px 100px 718px;
    background: url('../../assets/images/donation-dog.png') left 183px bottom 110px no-repeat;
    @media (max-width: 1279px) {
      padding: 80px 194px 421px 194px;
      background: url('../../assets/images/donation-dog.png') left 132px bottom 100px no-repeat;
    }

    @media (max-width: 767px) {
      padding: 42px 10px 219px 10px;
      background: url('../../assets/images/donation-dog.png') left 32px bottom 40px no-repeat;
      background-size: 80%;
    }
  }
}

.addition-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  padding: 0 10px;
  @media (max-width: 767px) {
    gap: 23px;
  }

  i {
    font-size: 12px;
    line-height: 150%;
    color: #b2b2b2;
  }
  h4 {
    @media (max-width: 767px) {
      letter-spacing: 0.01em;
    }
  }

  .like-button {
    padding: 10px 15px 10px 60px;
    font-size: 20px;
    align-self: center;
    line-height: 115%;
    border-radius: 9px;
    width: 350px;
    white-space: nowrap;
    background: $emphasis-color url('../../assets/icons/credit-card.svg') left 15px bottom 10px no-repeat;

    &:hover {
      background: $emphasis-hover-color url('../../assets/icons/credit-card.svg') left 15px bottom 10px no-repeat;
    }

    @media (max-width: 767px) {
      padding: 13px 15px 13px 60px;
      width: 100%;
      font-size: 15px;
      line-height: 110%;
    }
  }
}

.footer {
  background: url('../../assets/images/start-screen-gradient-background.png') no-repeat;
  background-size: cover;

  .footer-email {
    background: url('../../assets/icons/icon-email.svg') center left no-repeat;
  }
  .footer-tel {
    background: url('../../assets/icons/icon-phone.svg') center left no-repeat;
  }
  .footer-mail {
    background: url('../../assets/icons/icon-marker.png') center left no-repeat;
  }

  h2 {
    color: white;
  }

  .container {
    padding: 56px 40px;
    background: url('../../assets/images/footer-puppy.png') top 40px right 40px no-repeat;
    gap: 160px;
    @media (max-width: 1279px) {
      padding: 30px 30px 375px 30px;
      background: url('../../assets/images/footer-puppy.png') bottom right 234px no-repeat;
      gap: 60px;
      justify-content: center;
    }

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
      padding: 30px 10px 309px 10px;
      background: url('../../assets/images/footer-puppy.png') bottom right 30px no-repeat;
      background-size: 80%;
      gap: 40px;
      justify-content: center;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;

    a {
      min-height: 32px;
      padding-left: 60px;
      font-size: 20px;
      color: $emphasis-color;
      line-height: 32px;
    }
  }
  .contacts {
    align-items: flex-start;
  }

  .address {
    gap: 32px;
    align-items: normal;
    a {
      padding-left: 42px;
      line-height: 115%;
    }

    @media (max-width: 767px) {
      gap: 40px;
    }
  }
}

.popup{
  position: fixed;
  background-color: white;
  max-width: 900px;
  width: 70.3%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  padding:unset;
  border-radius: 9px;
  border: 0;

  @media (max-width: 1279px) {
      width: 82%;
    }
    @media (max-width: 767px) {
      width: 75%;
    }

  .popup-img{
    width: 55.6%;
    height: auto;
    border-radius: 9px;
    @media (max-width: 767px) {
        display: none;
      }
  }
  .popup-content{
    
    width: 44.4%;
    padding: 50px 20px 88px 29px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 1279px) {
        padding: 10px 10px 37px 10px;
      }
        @media (max-width: 767px) {
          width: 100%;
          padding: 10px;
          align-items: center;

          ul{
            align-self: flex-start;
          }
          h2{
            margin-top: 10px;
          }
        }

    li{
      list-style-type: disc;
      margin-left: 15px;
      
    }
    p{
      line-height: 110%;
      @media (max-width: 1279px) {
          font-size: 13px;
        }
      @media (max-width: 767px) {
          margin-top: 20px;
          margin-bottom: 24px;
        }
    }
    
  }
  .popup-close{
    position: absolute;
    right: -37px;
    top:-52px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid #F1CDB3;
    background-color: transparent;
    @media (max-width: 767px) {
        right: -26px;
      }
  }
 

  
}
