.container {
  padding: 80px 40px 100px 40px;
  flex-direction: column;
  align-items: center;
  gap: 60px;

  @media (max-width: 1279px) {
    padding: 80px 69px 100px 69px;
  }

  @media (max-width: 767px) {
    padding: 42px 15px;
    gap: 42px;
  }

  h3 {
    text-align: center;
  }
}

.help-list {
  display: flex;
  column-gap: 120px;
  row-gap: 55px;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: 1279px) {
    justify-content: space-between;
    align-items: center;
    column-gap: 60px;
  }

  @media (max-width: 767px) {
    row-gap: 30px;
    column-gap: 0;
  }
}

.help-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  @media (max-width: 1279px) {
    min-width: calc(30% - 20px);
    max-width: 30%;
  }

  @media (max-width: 767px) {
    min-width: calc(50% - 15px);
    max-width: 50%;
    gap: 20px;
  }

  svg {
    width: 60px;
    aspect-ratio: 1/1;
    @media (max-width: 767px) {
      width: 40%;
    }
  }
}
