@import '../../../variables.module.scss';

.friends {
  background: $background-color;
}

.container {
  padding: 80px 40px 100px 40px;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  text-align: center;

  @media (max-width: 1279px) {
    padding: 80px 30px 100px 30px;
  }

  @media (max-width: 767px) {
    padding: 42px 10px;
    gap: 42px;
  }
}

.friends-carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 53px;

  @media (max-width: 1279px) {
    gap: 12px;
  }

  @media (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 80px;
    h3 {
      font-size: 20px;
      line-height: 23px;
    }
  }
}

.friends-list {
  display: flex;
  justify-content: center;
  gap: 0;
  overflow: hidden;
  width: 990px;

  @media (max-width: 1279px) {
    gap: 40px;
    width: 580px;
  }
  @media (max-width: 767px) {
    width: 270px;
  }

  ul {
    display: flex;
    gap: 90px;

    li:not(:nth-child(-n + 3)) {
      display: none;
    }
    @media (max-width: 1279px) {
      gap: 40px;
      li:not(:nth-child(-n + 2)) {
        display: none;
      }
    }
    @media (max-width: 767px) {
      li:not(:nth-child(-n + 1)) {
        display: none;
      }
    }
  }
}

.friends-control-button {
  width: 52px;
  height: 52px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 767px) {
    &:first-child {
      order: 222;
    }
    &:last-child {
      order: 224;
    }
  }
}
