@import './variables.module.scss';
@import url('https://fonts.cdnfonts.com/css/georgia');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 15px;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: $main-color;
  line-height: 160%;
  position: relative;
  font-family: $main-font-family;
  font-weight: $main-font-weight;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  color: $titles-color;
}

h1 {
  font-size: 44px;
  line-height: 130%;
  letter-spacing: 0;

  @media (max-width: 767px) {
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
  }
}

h2 {
  font-size: 35px;
  line-height: 130%;

  @media (max-width: 767px) {
    font-size: 25px;
    align-self: center;
    text-align: center;
  }
}

h3 {
  font-size: 20px;
  line-height: 115%;

  @media (max-width: 767px) {
    font-size: 15px;
    line-height: 110%;
  }
}

h4 {
  line-height: 110%;
}

p,
ul,
body {
  margin: 0;
  padding: 0;
}

input {
  padding: 0;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  line-height: 1;
}

a,
button {
  color: $action-color;
}

h1,
h2,
h3,
h4,
a,
button {
  font-family: $emphasis-font-family;
  font-style: $main-font-style;
  font-weight: $main-font-weight;
  letter-spacing: $emphasis-letter-spacing;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 1280px;

  @media (max-width: 1279px) {
    width: 768px;
  }

  @media (max-width: 767px) {
    width: 320px;
  }
}
