@import './variables.module.scss';

.footer {
  position: relative;

  h2 {
    color: white;
  }

  img {
    z-index: -2;
  }

  .container {
    padding: 56px 40px;
    gap: 160px;
    position: relative;

    @media (max-width: 1279px) {
      padding: 30px 30px 375px 30px;
      gap: 60px;
      justify-content: center;
    }

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
      padding: 30px 10px 309px 10px;
      gap: 40px;
      justify-content: center;
    }

    img {
      z-index: -1;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    a {
      min-height: 32px;
      font-size: 20px;
      color: $emphasis-color;
      line-height: 32px;
      display: flex;
      justify-content: flex-start;
      gap: 1rem;
    }

    &.contacts {
      gap: 40px;
    }

    &.address {
      gap: 32px;

      a {
        line-height: 115%;
      }

      @media (max-width: 767px) {
        gap: 40px;
      }
    }
  }
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  a {
    font-size: 32px;
    line-height: 110%;
    color: $emphasis-color;
  }

  p {
    font-size: 13px;
    line-height: 115%;
    letter-spacing: 0.1em;
    color: #ffffff;
  }
}

.header {
  background-color: #cdcdcd;

  .container {
    padding: 30px 40px;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1279px) {
      padding: 30px 30px;
    }

    @media (max-width: 767px) {
      padding: 30px 20px;
    }
  }
}

.header-nav__links {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 35px;
  align-items: center;
  white-space: nowrap;

  a {
    font-family: $main-font-family;
    letter-spacing: 0;
    border-bottom: none;
    transition: border-bottom 0.5s;
    color: #fafafa;

    &.header-nav__links-active {
      border-bottom: 3px solid #f1cdb3;
    }

    &:hover {
      border-bottom: 3px solid #f1cdb3;
    }
  }

  @media (max-width: 767px) {
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    font-size: 32px;
    line-height: 160%;
    position: relative;
    right: 0;
    transition: 1s;
  }
}

//бургер

.header-nav__burger {
  display: none;
}

#burger-icon {
  display: none;
}

@media (max-width: 767px) {
  .header-nav__links-wrapper {
    position: absolute;
    width: 320px;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: #292929;
    display: flex;
    justify-content: center;
    opacity: 1;
    transition-duration: 1s;

    a {
      color: #cdcdcd;
    }
  }

  .header-nav__burger {
    display: block;
    cursor: pointer;
    transform: rotate(0);
    transition: transform 2s;
    width: 32px;
    height: 22px;
    background: linear-gradient(
      #f1cdb3 10%,
      transparent 10% 45%,
      #f1cdb3 45% 55%,
      transparent 55% 90%,
      #f1cdb3 90%
    );
  }

  #burger-icon:not(:checked) ~ .header-nav__links-wrapper {
    width: 0;
    opacity: 0;
    right: 0px;

    .header-nav__links a {
      display: none;
    }
  }

  #burger-icon:checked ~ .header-nav__links-wrapper {
    z-index: 11111;

    .header-nav__burger {
      transform: rotate(90deg);
      transition: transform 2s;
      opacity: 1;
    }
    &::before {
      content: '';
      width: 100vw;
      height: 100vh;
      position: fixed;
      background-color: rgba(0, 0, 0, 0.5);
      top: 0;
      left: 0;
    }
  }

  #burger-icon:checked + .header-nav__burger {
    transform: rotate(90deg);
  }

  .header-nav__burger-close {
    position: absolute;
    z-index: 1000;
    top: 45px;
    right: 20px;
    opacity: 0;
  }
}
