$emphasis-font-family: Georgia, 'Times New Roman', Times, serif;
$main-font-family: Arial, Helvetica, sans-serif;
$main-font-style: normal;
$main-font-weight: 400;
$emphasis-letter-spacing: 0.06em;
$emphasis-color: #f1cdb3;
$main-color: #4c4c4c;
$action-color: #292929;
$titles-color: #545454;
$emphasis-hover-color: #fddcc4;
$background-color: #f6f6f6;
