.pagination {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 40px;
  align-items: center;
  justify-content: center;

  @media (max-width: 1279px) {
    row-gap: 30px;
    padding: unset;
  }
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 20px;

  @media (max-width: 767px) {
    gap: 10px;
  }

  svg {
    height: 23px;
  }
}
