.card-widget {
  font-size: 20px;
  gap: 15px;
  border-radius: 9px;
  width: 350px;
  white-space: nowrap;
  line-height: 115%;

  &:disabled {
    pointer-events: none;
  }

  @media (max-width: 767px) {
    width: 100%;
    font-size: 15px;
    line-height: 110%;
  }

  .content {
    flex-grow: 22;
  }
}
