@import "../../../variables.module.scss";

.logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  .title {
    font-size: 32px;
    line-height: 110%;
  }

  .slogan {
    font-size: 13px;
    line-height: 115%;
    letter-spacing: 0.1em;
  }

  &.regular {
    .title {
      color: $titles-color;
    }

    .slogan {
      color: $action-color;
    }
  }

  &.primary {
    .title {
      color: $emphasis-color;
    }

    .slogan {
      color: white;
    }
  }
}
